//主页两行文字修改为白色
.home-blog .hero .description {
    color: #fff;
    font-family: "Times New Roman"
}

.home-blog .hero h1 {
    color: #fff;
}

//修改主页的背景图片
// .home-blog{
//     background: url(/1.gif) center center / cover no-repeat fixed;

// }
//控制主页博客标题那一部分包含块的宽高
.home-blog .hero{
    // background : rgba(255,255,255,0);
    background-size: cover;
    height:950px;
}